<?xml version="1.0" encoding="utf-8"?>

<!--android:windowSoftInputMode="adjustResize|stateVisible"-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crowdo.p2pconnect">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name="com.crowdo.p2pconnect.CrowdoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_key_logo"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activities.LaunchActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.AuthActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AuthTheme">
        </activity>

        <activity
            android:name=".view.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" >
        </activity>

        <activity
            android:name=".view.activities.LoanDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".view.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MainActivity" />
        </activity>

        <activity
            android:name=".view.activities.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>

    </application>

</manifest>