<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crowdo.p2pconnect">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name="com.crowdo.p2pconnect.CrowdoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_key_logo"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.crowdo.p2pconnect.view.activities.LaunchActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:theme="@style/WelcomeTheme"
            android:label="@string/activity_launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.crowdo.p2pconnect.view.activities.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/activity_main">
        </activity>

        <activity
            android:name="com.crowdo.p2pconnect.view.activities.LoanDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/activity_loan_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crowdo.p2pconnect.view.activities.MainActivity" />
        </activity>

        <activity
            android:name="com.crowdo.p2pconnect.view.activities.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/activity_webview">
        </activity>

    </application>

</manifest>